<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Munamii</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Munamii.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <img class="nav-logo" src="\Images\logo.png" />
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cake" asp-action="List">All Cakes</a>
                </li>
                <vc:category-menu></vc:category-menu>
                <vc:shopping-cart-summary></vc:shopping-cart-summary>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <div class="container main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <ul>
            <!-- --------------------Social Links-------------------- -->
            <li class="contact-link">
                <a target="_blank" href="https://www.facebook.com/munamiicupcakes/">
                    Facebook
                </a>
            </li>
            <li class="contact-link">
                <a target="_blank" href="https://www.gmail.com/">
                    Email
                </a>
            </li>
            <li class="contact-link">
                <a target="_blank" href="https://www.instagram.com/munamii.cakery/">
                    Instagram
                </a>
            </li>
        </ul>
        <h5 class="footer-title">Stay Connected</h5>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
