@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
        <li class="nav-item  ml-auto mr-0">
            <a class="nav-link">
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                <span id="cart-status">
                    @Model.ShoppingCart.ShoppingCartItems.Count
                </span>
            </a>
        </li>
}
